<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Album permissions to upload image of food</string>
	<key>UIAppFonts</key>
	<array>
		<string>NanumSquareR.ttf</string>
		<string>NanumSquareB.ttf</string>
		<string>NanumSquareEB.ttf</string>
		<string>Jalnan.ttf</string>
		<string>HancomMalangMalang-Regular.ttf</string>
		<string>HancomMalangMalang-Bold.ttf</string>
	</array>
</dict>
</plist>
